name: CI workflow

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  back-end-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: back
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build and run back-end tests with Maven
        run: mvn -B test jacoco:report

      - name: Get back-end coverage report
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: back-end-coverage
          path: back/target/site/jacoco

  front-end-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
      
      - name: Install dependencies
        run: npm ci

      - name: Run front-end tests
        run: npm run test:prod

      - name: Get front-end coverage report
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: front-end-coverage
          path: front/coverage/bobapp