name: CI workflow

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  back-end-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: back
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Build and test with Maven
        run: mvn -B test

      - name: Get back-end coverage report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: back-end-coverage
          path: target/site/jacoco/

  front-end-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run test:prod

      - name: Get front-end coverage report
        uses: actions/upload-artifact@v3
        if: success() || failure()
        with:
          name: front-end-coverage
          path: coverage/bobapp/